*{
    box-sizing: border-box;
}

body{
    background-color: gainsboro;
}

.game{
    display: flex;
}

.grid{
    display: grid;
    width: 75vw;
    height: 75vw;
    grid-template-columns: repeat(16, 1fr);
    border: 1px solid black;
}

.square{
    border: 1px solid green;
}